.menu {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    width: 100%;

    @include laptop {
      gap: 15px;
    }

    @include mobile {
      grid-template-columns: 1fr;
    }
  }
  &__item {
    justify-items: stretch;
  }
}
